<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户添加</title>
</head>
<body>
    <form action="/cmdb/user/" method="GET">{% csrf_token %}
        <input type="submit" value="返回"/><br><br><br>
        {% if messages %}
            <div style="color: red">{{ messages_tagname }}&nbsp;{{ messages }}</div>
        {% endif %}

{#        <h3>删除数据界面，已开发完，未接入</h3>#}
    </form>
    <form action="/cmdb/user_add_get/" method="POST">{% csrf_token %}
            <label>&nbsp;&nbsp;&nbsp;用户名：</label> <input type="text" name="username"/><br /><br />
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码：</label> <input type="password" name="passwd"/><br /><br />
            <label>允许登录：</label> <input type="text" name="status"/><br /><br />
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;权限：</label> <input type="text" name="permissions"/><br /><br />
            <input type="submit" value="添加"/>
    </form>
</body>
</html>